{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1 style="color: cornflowerblue;">Change Your Password</h1>
    <form action="/change_password" method="post" style="margin-top: 24px;">
        <div class="mb-3">
            <input id="username" name="username" placeholder="UserName" type="text" autocomplete="off" autofocus class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input id="last_password" name="last_password" placeholder="Last_Password" type="password" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input id="new_password" name="new_password" placeholder="New_Password" type="password" class="form-control mx-auto w-auto">
        </div>
        <button name="action" value="change_password" class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
